<section>
    <h1 class="text-center">Edition de {{product.name}}</h1>
<div class="row">
    <div class="col-md-4">
<img [src]="product.picture" alt="" style="width:350px;">


    </div>
    <div class="col-md-8">
        <form  #f="ngForm" (ngSubmit)="onSubmit(f)" >     
<div class="form-group">
    <label for="name">Nom</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="product.name" #name="ngModel" name="name" required >
    </div>
    <div class="form-group">
    <label for="name">Description</label>
    <input type="text" class="form-control" id="description" [(ngModel)]="product.description" #description="ngModel" name="description" required >
</div>
<div class="form-group">
    <label for="name">Prix</label>
    <input type="number" class="form-control" id="price" [(ngModel)]="product.price" #price="ngModel" name="price" required >
    </div>
    
    
    <div class="form-group">
    <label for="name">Image</label>
    <input type="text" class="form-control" id="picture" [(ngModel)]="product.picture" #picture="ngModel" name="picture" required >
    </div>

    <div class="form-group">
        <label for="name">Subtitle</label>
        <input type="text" class="form-control" id="subtitle" [(ngModel)]="product.subtitle" #subtitle="ngModel" name="subtitle" required >
        </div>


<div class="section_center text-center"  >
<button type="submit" class="btn btn-warning  my-3" [routerLink] = "['/single', product.id]">Validez</button>

</div>

        </form>
    </div>
</div>

</section>

