
<app-nav></app-nav>

  <div class="main">
    <section class="container bg-light">
      <div class="row">
        <div  class="card pokeball col-md-4 m-3 mx-auto rounded-2"
          style="width: 18rem;" *ngFor="let product of products['hydra:member']">
          <a [routerLink] = "['/single', product.id]" >
            <img [src]="product.picture" class="card-img-top" alt="...">
         </a>
            <div class="card-body">
              <h5 class="text-center">{{product.name}}</h5>
              <p>{{product.description}} </p>
              <div class="text-center"><p >{{product.price }} &euro;</p>
                <a class="btn btn-warning  my-3" [routerLink] = "['/single', product.id]">Detailes de produit</a>
              </div>
              
            </div>
          
        </div>
      </div>
    </section>
  </div>

